.hero {
	background-image: linear-gradient(
			274.51deg,
			rgba(74, 0, 224, 0.6) 5%,
			rgba(142, 45, 226, 0.5) 130.61%
		),
		url('../../images/patron-2.png');
	block-size: 96px;
	min-inline-size: 305px;
}

@media screen and (min-width: 902px) {
	.hero {
		block-size: 350px;
	}
}
