.quote {
	border-left: 4px solid var(--gray40);
	padding-inline-start: 20px;
	margin: 40px 0;
	font: var(--quote);
}

.quote p {
	margin: 0;
}

.quote .quote-author {
	margin-block-start: 4px;
	color: var(--gray20);
}

@media screen and (min-width: 902px) {
	.quote {
		margin-block-end: 80px;
		margin-block-start: 80px;
	}
	.quote .quote-author {
		margin-block-start: 16px;
	}
}
