.section .subtitle {
	font-weight: 400;
}

.section-content {
	margin-block-start: 40px;
}

.section-image {
	inline-size: 100%;
	height: auto;
}

@media screen and (min-width: 902px) {
	.section-content {
		margin-block-start: 40px;
	}

	.section {
		margin-block-start: 80px;
	}

	.section .headline3 {
		font: 600 32px/39px var(--fontBase);
	}
}
