[class^='subtitle'] {
	color: var(--white);
	font: var(--headline3);
	margin: 0;
	position: relative;
}

.subtitle-numbered {
	margin-block-end: 16px;
	margin-block-start: 16px;
}

.section-number {
	counter-reset: item;
}

.subtitle-numbered::before {
	content: counter(item) '. ';
	counter-increment: item;
}

@media screen and (min-width: 902px) {
	.section article:first-of-type .subtitle {
		font: var(--extraTitle);
	}
}
